/* boton del tema */
.btnModoOscuro {
  transform: rotate(-15deg);
  animation: girosSun 1s ease;
}

.btnModoClaro {
  transform: rotate(120deg);
  animation: girosSun 1s ease;
}


@keyframes girosSun {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(120deg);
  }
}

@keyframes girosSun {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-380deg);
  }
}

/* boton page */

.botonPage {
  font-size: 50px;
  border-radius: 5px;
  cursor: pointer;
}
