/* boton del tema */
.botonTema {
  animation: giros 2s linear infinite;
}



@keyframes giros {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* boton page */

.botonPage {
  font-size: 50px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-color: #00ff88;
  padding: 2px;
  border-radius: 12px;
}

/* botones flechas */

.botonFlechas {
  background: #000;
}
