/* boton del tema */
.btnModoOscuro {
  transform: rotate(-15deg);
  animation: girosSun 1s ease;
}

.btnModoClaro {
  transform: rotate(120deg);
  animation: girosSun 1s ease;
}


@keyframes girosSun {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(120deg);
  }
}

@keyframes girosSun {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-380deg);
  }
}

/* boton page */

.botonPage {
  font-size: 40px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 1px;
  border-color: #00ff88;
  padding: 2px;
  border-radius: 12px;
  position: relative;
  transition: 300ms;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 255, 136, 0.7);
  }
}

.btnPageHome {
  transition: 300ms;

  &:hover {
    text-shadow: 0 0 4px rgba(0, 255, 136, 0.4);
    box-shadow: 0 0 8px rgba(0, 255, 136, 0.7);
  }
}
