@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #00FF88;
    --color-secundario: #101010;
  }
}

body {
  background-color: #1a1a1a;
  color: #f5f5f5;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 10px;
    background: #3b3b3b;
  }

  ::-webkit-scrollbar-thumb {
    background: #11d178;
    border-radius: 3px;
  }
}

.iconMenu {
  filter: drop-shadow(0 0 1px rgba(0, 255, 136, 0.8));
}

.tituloMovie {
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.tituloMovieSingle {
  text-shadow: 0 0 4px rgba(0, 255, 136, 0.4);
}

.imgMovieSingle {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.imgMovieSeason {
  box-shadow: 0 0 3px rgba(0, 255, 136, 0.3);
}

.btnCargarMas {
  text-shadow: 0 0 3px rgba(0, 255, 136, 0.4);
  box-shadow: 0 0 3px rgba(0, 255, 136, 0.3);
  transition: 500ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 7px rgba(0, 255, 136, 0.7);
  }
}

.cajaFiltro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-width: 1px;
  border-radius: 10px;
  border-color: #00FF88;
  gap: 2px;
  width: 135px;
  box-shadow: 0 0 5px rgba(0, 255, 136, 0.5);
}


.iconFilter {
  width: 25px;
  height: 25px;
  filter: drop-shadow(0 0 3px rgba(0, 255, 136, 0.3));
}

.popcop {
  filter: drop-shadow(0 0 2px rgba(0, 255, 136, 0.3));
  animation: popcopLogo 1.5s alternate infinite;
}

@keyframes popcopLogo {
  from {
    transform: rotate(-25deg);
  }

  to {
    transform: rotate(30deg);
  }
}
